{% capture badge_content %}
  {% for tag in product.tags %}
    {% if tag contains '_badge_' %}
      {% assign tag_label = tag | replace: '_badge_', '' %}
      <div class="badge-item">{{ tag_label }}</div>
    {% endif %}
  {% endfor %}
{% endcapture %}

{% if badge_content != blank %}
  <ul class="badge-list">
    {{ badge_content }}
  </ul>
{% endif %}
