.biscuits-modal-overlay {
  display: block !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.biscuits-modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
}

.biscuits-modal-content {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 8px;
  background: #fff;
  z-index: 1000000;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  max-height: 90vh;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.biscuits-modal-scroll-area {
  overflow-y: auto;
  padding-top: 50px;
  height: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.biscuits-modal-scroll-area::-webkit-scrollbar {
  display: none;
}

.biscuits-modal-content.is-open {
  transform: translateY(0);
}

.biscuits-modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(255, 255, 255, 1);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  padding: 5px;
  z-index: 1001;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.biscuits-modal-close svg {
  width: 24px;
  height: 24px;
  fill: #000;
}
