.biscuits-modal-overlay {
  display: block !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.biscuits-modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
}

.biscuits-modal-content {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 20px;
  background: #fff;
  z-index: 1000000;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  max-height: 90vh;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.biscuits-modal-scroll-area {
  overflow-y: auto;
  height: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.biscuits-modal-scroll-area::-webkit-scrollbar {
  display: none;
}

.biscuits-modal-content.is-open {
  transform: translateY(0);
}

.biscuits-modal-close {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 1000001;
  transform: translateX(-50%);
  background: #121212;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  padding: 8px 40px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  transition: opacity 0.3s ease;
  height: 48px;
  width: calc(100% - 20px);
  border-radius: 100px;
  opacity: 0;
  pointer-events: none;
}

.biscuits-modal-close.is-visible {
  opacity: 1;
  pointer-events: auto;
}

@media screen and (min-width: 768px) {
  .biscuits-modal-close {
    font-size: 16px;
    width: fit-content;
  }
}
