.biscuits-bundle-step {
  padding-inline: 10px;
}

.biscuits-bundle-step__title {
  text-transform: uppercase;
}

.biscuits-bundle-item__details,
.biscuits-bundle-price {
  align-items: center !important;
  justify-content: center !important;
}

.biscuits-bundle-step__price,
.biscuits-bundle-step__details .biscuits-bundle-step__counter span {
  font-weight: 600;
  font-size: 18px;
}

.biscuits-bundle-item__title {
  text-align: center;
}

.biscuits-bundle-item__image {
  overflow: hidden;
  border-radius: 10px;
}

.biscuits-bundle-actions {
  position: sticky;
  bottom: 0;
  z-index: 2;
  padding-inline: 10px;
  padding-bottom: 10px;
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  .biscuits-bundle-step {
    padding-inline: 40px;
  }

  .biscuits-bundle-actions {
    padding-inline: 20px;
    padding-bottom: 10px;
  }

  .biscuits-bundle-step__price,
  .biscuits-bundle-step__details .biscuits-bundle-step__counter span {
    font-size: 24px;
  }
}

/* ============================= */
/* bundle builder. product page */
/* ============================= */

.bundle-builder-price-wrapper {
  display: none;
}

.bundle-builder-price-wrapper.is-visible {
  display: block;
}

.bundle-builder-price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  gap: 4px;
  text-align: center;
}

.bundle-builder-total-price {
  text-decoration: line-through;
}

.bundle-builder-discounted-price {
  font-weight: bold;
  font-size: 18px;
  color: #e92e74;
}

.bundle-builder-savings {
  font-size: 14px;
  color: green;
  text-align: center;
}

.bundle-trigger-cards {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  gap: 10px;
}

.bundle-trigger-card {
  display: flex !important;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  background: #fff;
  cursor: pointer;
  min-height: 150px;
}

.bundle-trigger-card.filled {
  background-color: #121212;
  padding: 8px;
}

.bundle-trigger-card.filled:hover {
  background-color: #121212;
}

.bundle-trigger-card__image-wrapper {
  position: relative;
  aspect-ratio: 1;
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 8px;
}

.bundle-trigger-card__image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bundle-trigger-card-quantity {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: rgba(255, 255, 255, 1);
  color: #121212;
  padding: 2px;
  border-radius: 100%;
  aspect-ratio: 1;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

.bundle-trigger-card-title {
  margin-top: 8px;
  font-size: 12px;
  line-height: 1.25;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

.bundle-trigger-card.empty {
  cursor: pointer;
  border: 1px dashed #121212;
  transition: background-color 0.3s ease;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.bundle-trigger-card.empty:hover {
  background-color: #fff;
}

.bundle-trigger-card.empty::after {
  content: '+';
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #121212;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 1;
}

.biscuits-bundle .product-form__submit {
  width: 100%;
  max-width: none;
}

.biscuits-bundle .product-form__submit.loading {
  cursor: not-allowed;
}

.biscuits-bundle .product-form.disabled {
  pointer-events: none;
}

.biscuits-bundle .product-form__submit.disabled {
  opacity: 0.5;
}

@media screen and (min-width: 1024px) {
  .bundle-trigger-card-quantity {
    width: 30px;
    height: 30px;
    font-size: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .bundle-trigger-card-title {
    font-size: 14px;
  }

  .bundle-trigger-card {
    min-height: 200px;
  }
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
