.product-bottom-info select {
        /* color: #fff; */
}
.bundle-builder__widget h1 {
    /* color : #fff; */
}
.bundle-builder-banner__video picture svg, .bundle-builder-banner__image picture svg{
    max-height: 500px;
}

.bundle-builder-banner__image picture img{
  max-height: 385px;
  object-fit: cover;
}

.product-card-item {
        height: 100%;
    display: flex
;
    flex-direction: column;
}
.product-card-item__body {
    flex : 1;
}
.product-bottom-info {
        flex: 1;
    display: flex
;
    flex-direction: column;
    /* align-items: end; */
    justify-content: end;
}
.checkmark p {
    /* color : #fff; */
}
.bundle-builder__banner{
    position: relative;
}

.product-card-item__body .d-flex{
display: flex
;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
}

x-cell {
    display : block;
}
x-cell:before {
    content:unset !important;

}
x-cell:after {
    content:unset !important;
    
}
.productSelect {
    appearance: auto !important;
    -webkit-appearance: auto !important;
    margin-bottom: 5px !important;
    display: block;
    width: 100%;
    background: transparent;
    line-height: 21px;
    /* padding: 12px 18px; */
    /* border-radius: 50px; */
    /* text-decoration: none; */
    font-weight: 500;
    /* font-size: 13px; */
    font-size: calc(var(--font-body-scale) * 16px);
    line-height: 21px;
    padding: 13px 30px 13px 18px;
    border-radius: 10px;
}
.total-price p:nth-child(1), .total-price p:nth-child(2){
    margin:0px;
}
.cartButton  {
    width : 100%;
    width: 100%;
    margin-top: 1rem;
    background: #1D1D1B;
    color: white;
    border: none;
    justify-content:center;
        padding: 1.5rem 2rem;
}

.card_bundle_short_description {
        margin: 0;
    line-height: 1.2;
    font-size: 14px;
}
.bundle-builder__banner {
    display: flex;
    flex-direction: column-reverse;
        gap: 24px;
}
.bundle-builder-banner__image img {
        width: 100%;
    display: block;
    /* max-width: 980px; */
    margin-inline: auto;
}
.bundle-builder-banner__content{
    /* position: absolute; */
    top: 0;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
      /* background: #00000061; */
}

.bundle-builder-banner-content__offer p{
    color: #1D1D1B;
    font-size: 20px;
    line-height: 1;
    margin: 0;
    padding-block: 1rem;
}

.bundle-builder-banner-content__heading h1{
        color: #1D1D1B;
    text-transform: uppercase;
    font-size: 46px;
    font-weight: 700;
    margin: 0;

}

.bundle-builder-banner-content__offers{
    display: flex;
    column-gap: 54px;
    margin-top: 11px;
}

.bundle-builder-banner-content__offer:not(:last-child) {
    padding-right: 54px;
    border-right: 1px solid;
}

.percent__off{
    font-size: 47px;
    font-weight: 600;
    position: relative;
}

.percent__off::after{
    content: '%';
    position: absolute;
    top: 11px;
    font-size: 17px;
    right: -17px;
}

.bundle__products{
    max-width: 50%;
    width: 100%;
}

.bundle-builder__body{
    display: flex;
        padding-block: 30px;
}

.bundle-builder__widget h1{
    font-size: 34px;
    font-weight: bold;
    /* color : #fff; */
    margin : 0;
}

.bundle-builder__widget{
    padding: 32px 20px;
    width: 100%;
}

.container {
    display: block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    height: auto;
    width: 100%;
    background-color: transparent;
    border-radius: 5px;
    /* border: 1px solid #DDDDDD; */
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
  padding: 11px 10px;
  text-align: center;
  background : #fff;
  border-radius : 8px;
}

.checkmark span {
  color: #000 !important;
}

.container:hover input ~ .checkmark {
    background-color: #1D1D1B
  color: #fff;
}
.total-and-atc p {
    /* color: #fff; */
}
.container input:checked ~ .checkmark {
    background-color: #1D1D1B;
    color: white !important;
}

.container input:checked ~ .checkmark span {
color: #fff !important;
}

.container input:checked ~ .checkmark p span{
    color: #fff !important;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.checkmark p{
    line-height: 1.2;
    margin-bottom: 0;
    /* color : #fff; */
}

.checkmark p span{
    font-size: 12px;
}

.bundle-builder__buttons {
    display: flex;
    column-gap: 10px;
    justify-content: space-between;
}



.checkmark p {
    font-size: 15px;
    font-weight: 500;
    margin-top: 0px;
}

.bundle-builder-products__added{
    display: flex;
    column-gap: 15px;
    flex-wrap: wrap;
    row-gap: 40px;
}

.bundle-builder-product__selected, .bundle-builder-product__message{
    border: 1.5px dashed #686869;
    height: 287px;
    width: 195px;
    display: none;
    justify-content: center;
    align-items: center;
    position: relative;
  border-radius: 12px;
}

.hidden {
  display: none !important;
}

.product-card-item .image--aspectSize img {
  border-radius: 8px;
      width: 100%;
    height: auto;
}

.bundle-builder__buttons label.container {
  padding: 0 !important;
  width:100%;
}

.bundle-builder-product__selected .card-head{
    position: absolute;
    top: 5px;
    left: 15px;
}

.bundle-builder-product__selected .card-image .secondary{
    display: none;
}
  
.bundle-builder-product__selected img.plus__icon{
    width: 20px;
    height: 20px;
}

.bundle-builder-product__selected.active{
    display: flex;
}

.product .cards .card-footer select.productSelect{
    cursor: pointer;
    background-position: calc(100% - 19px) 50%,calc(100% - 15px) 50%,calc(100% - 40px) 50% !important;
}


.bundle-builder-product__selected .product-card__bundle{
    /* min-height: 317.11px; */
    display: block;
}

.bundle-builder-product__selected:not(.available) img.plus__icon{
    display: none;
}

.bundle-builder-product__selected.active:not(.available){
    border: unset;
    align-items: baseline;
    min-height: 287px;
}

.bundle-builder-product__selected .card-image picture{
    min-height: 288px;
    display: flex;
    align-items: center;
    border: 1px solid black;
}

.bundle-builder-product__selected .card-head .card-title.h4{
    display: inline-block;
    line-height: 1.2;
    font-size: 13px;
}

.bundle-builder-product__selected .card-footer ajax-cart-product-form x-grid.actions select.productSelect{
    padding: 5px;
}

.bundle-builder-product__selected .card-head .card-subtitle{
    display: none;
}

.bundle-builder-product__selected .card-footer ajax-cart-product-form x-grid.actions .cartButton{
    pointer-events: none;
    color: black;
    background-color: transparent;
    padding: 0;
    border: unset;
}

.bundle-builder-product__selected .card-footer ajax-cart-product-form x-grid.actions .cartButton .clipper{
    font-weight: normal;
    font-size: 15px;
}

.bundle-builder-product__selected .card-footer ajax-cart-product-form x-grid.actions .cartPriceAdd x-flex[jc="around"]{
    justify-content: space-between;
    align-items: center;
}

.bundle-builder-product__selected .card-footer ajax-cart-product-form x-grid.actions .cartPriceAdd x-flex x-cell span{
    font-size: 15px;
    font-weight: normal;
}

.bundle-builder-product__selected .card-footer ajax-cart-product-form x-grid.actions{
    display: flex;
    flex-direction: column-reverse;
}

.bundle-builder-product__selected .card-footer ajax-cart-product-form x-grid.actions select.productSelect{
    background-position: calc(100% - 19px) 50%,calc(100% - 15px) 50%,calc(100% - 40px) 50% !important;
    cursor: pointer;
}

.bundle-builder-product__selected .card-footer ajax-cart-product-form x-grid.actions select.productSelect option{
    display: none;
}

.bundle-builder-product__selected .card-footer ajax-cart-product-form x-grid.actions select.productSelect option[data-option="50 ML / Single"], .bundle-builder-product__selected .card-footer ajax-cart-product-form x-grid.actions select.productSelect option[data-option="15 ML / Single"]{
    display: block !important;
}

.remove-item-button{
    display: none;
}

.bundle-builder-product__selected.active:not(.available) .remove-item-button{
    display: flex;
  align-items: center;
  justify-content: center;
}

.remove-item-button{
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 1;
    padding: 3px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

.remove-item-button svg{
    width: 9px;
    height: 9px;
}

.total-and-atc{
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.total-price{
    margin-bottom: 20px;
}

.discounted-price{
    margin-left: 5px;
    font-weight: bold;
}

.actual-price{
    text-decoration: line-through;
    margin-left: 3px;
}

.bundle__atc.active{
    cursor: pointer;
}

.bundle__atc{
    cursor: not-allowed;
}

.bundle__atc button{
    transition: all .3s ease-in-out;
}

.bundle__atc button[disabled="disabled"]{
       pointer-events: none;
    background-color: #1D1D1B;
    border-color: #1D1D1B;
    opacity: .5;
    color: #Fff;
}
.bundle__atc button {
    color: #Fff;
}

.bundle__atc.active button:hover{
    background-color: white;
    color: black;
}



.bundle-builder__wrapper{
    margin-bottom: 1px;
        padding-block: 24px;
}


.product-added::after{
    content: attr(data-qty);
    position: absolute;
    top: 9px;
    font-weight: bold;
    right: 17px;
    color: white;
    background-color: black;
    padding: 0 8px;
    border-radius: 5px;
    display: none;
}

.bundle-builder-product__message.message-slot img{
    display: block !important;
}

.bundle-builder-product__message.message-slot{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-width: 200px;
}

.bundle-builder-header__button button{
    display: none;
}

.bundle-builder-header__button{
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.bundle-progress__bar{
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset 0 .0625rem .125rem rgba(0, 0, 0, .25), 0 .0625rem hsla(0, 0%, 100%, .08);
    width: 100%;
    border-radius: 50px;
    max-width: 300px;
    height: 100%;
    min-height: 21px;
    display : none;
}

.progress-bar__progress{
    transition: all .2s ease-in-out;
    background-color: #39bdac;
    border-radius: 50px;
    width: 0;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    opacity: 0;
    display: flex;
    height: 20.5px;
    line-height: 1.7;
}

.progress-bar__progress span{
    height: 20px;
    position: relative;
    font-size: 13.5px;
}

.bundle-updates{
    display: none;
}

.needsclick.kl-teaser-TPXZ8A.kl-private-reset-css-Xuajs1{
    display: none;
}

#klaviyo_popup_form{
    display: none !important;
}

.bundle-builder-product__selected .product-card__bundle x-cell.select{
    display: none !important;
}

.bundle-builder-products__added{
    padding: 20px 0;
}

.bundle-builder__logic > p {
    margin-bottom: 15px;
}

.bundle-builder__widget .aspect-ratio-portrait {
  aspect-ratio: 1.3 !important;
}

select {
  appearance: auto !important;
  -webkit-appearance: auto !important;
  margin-bottom: 5px !important;
}

.bundle-builder__wrapper a {
  pointer-events: none !important;
}

.template--bundle-builder,
html:has(.template--bundle-builder) {
  overflow-x: hidden;
}

.template--bundle-builder .needsclick.kl-teaser-TCKhH6.undefined {
  display: none !important;
}

.bundle-builder-products__added form button {
  display: none !important;
}

.bundle-builder__logic>p {
  color: fff !important;
}

@media(max-width: 1840px){
  .product-card__bundle{
    /* min-height: 378px; */
  }
}

@media(max-width: 1024px){

}

@media(max-width: 768px){
    .bundle-builder-banner-content__offer:not(:last-child){
        padding-right:0px;
    }
    .bundle-builder-product__selected .product-card__bundle{
        /* min-height: 278.4px; */
    }

    .bundle-builder-header__button button svg{
        width: 16px;
        height: 10px;
    }
    
    .bundle__atc{
        flex-basis: 50%;
        max-width: 228px;
    }
    .bundle-updates{
        display: inline;
    }

    .bundle-builder-header__button button{
        display: block;
    }
    .bundle-builder-banner-content__offer p{
        font-size: 14px;
    }

    .bundle-builder-banner__image picture img{
        object-fit: cover;
        min-height: 200px;
    }

    .bundle-builder-banner-content__heading h1{
       font-size: 32px;
        margin: 0 0 8px !important;
        letter-spacing: 0;
        font-weight: 600 !important;
        text-transform: uppercase;
    }

    .bundle-builder-banner-content__offers{
        gap: 0px;
        margin-top: 0;
        flex-wrap: nowrap;
        justify-content: center;
        text-align: center;
    }

      .bundle-builder-banner-content__offer {
        flex: 0 0 calc(50% - 20px);
        padding: 0 13px !important;
      }

    .percent__off{
        font-size: 32px;
        margin-top: 10px;
        display: inline-block;
    }

    .bundle-builder__body{
        flex-direction: column;
    }

    .bundle__products{
        max-width: 100%;
    }

    .percent__off:after {
                top: 0px;
        font-size: 12px;
        right: -15px;
        font-weight: 600;
    }
.bundle-builder-banner-content__offer:nth-child(2) {
    /* border : none; */
}
.img_mb img:first-child {
display : none;
}
.img_mb img:last-child {
display : block !important;
}

    .bundle-builder-products__added{
        overflow: auto;
        flex-wrap: nowrap;
        min-height: 308px;
        padding: 24px 0 20px;
        padding-right: 5px;
    }

    .bundle-builder__logic>p{
        margin-top: 10px;
    }

    .product .cards .card-meta>*:not(.card-footer){
       position: absolute;
       top: 0;
       width: 100%;
       padding: 10px 7px;
    }

    .product-card__bundle{
        min-height: unset;
    }

    .bundle-builder__widget{
        background-color: white;
        z-index: 99;
        position: fixed;
        bottom: 0;
        border: 1px solid gray;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        padding: 0 0 10px;
    }

    .bundle-builder__widget .bundle-builder__logic{
        max-height: 67vh;
        visibility: visible;
        transition-delay: .15s;
        transition-duration: .3s;
        transition-property: all;
        transition-timing-function: cubic-bezier(.4,0,.2,1);
        padding: 0 15px;
    }

    .bundle-builder__widget.bundle-collapse .bundle-builder__logic{
        max-height: 0;
        visibility: hidden;
        transition-duration: .15s;
        transition-property: all;
        transition-timing-function: cubic-bezier(.4,0,.2,1);
    }

    .bundle-builder-header__button{
        display: flex;
        column-gap: 10px;
        padding: 12px 15px 0;
    }

    .bundle-builder-header__button .bundle-progress__bar{
        max-width: 100%;
        flex-basis: 45%;
    }

    .bundle-builder-header__button button{ 
        max-width: 21px;
        height: 21px;
        margin: 0;
        background-color: #e5e3e2;
        border: none;
        padding: 0;
        display: flex;
        align-items: center;
    }


    .bundle-builder-header__button button svg{
        color: black;
        transform: rotate(0deg);
        transition-duration: .15s;
        transition-property: transform;
        transition-timing-function: cubic-bezier(.4,0,.2,1);
    }
.bundle-builder__widget {
    background: #e5e3e2;
}
    .bundle-builder__widget.bundle-collapse .bundle-builder-header__button button svg{
        transform: rotate(180deg);
    }

    .total-and-atc{
        display: flex;
        justify-content: space-between;
        column-gap: 5px;
        margin-bottom: 0;
        margin-top: 10px;
        padding: 0 15px;
    }

    .bundle-builder__buttons .container{
        margin-bottom: 0;
    }

    .total-and-atc .total-price{
        text-align: left;
    }

    .total-price{
        margin-bottom: 0;
    }

    .bundle-builder__widget h1{
        font-size: 18px;
        flex-basis: 50%;
    }

    .bundle-builder-product__selected, .bundle-builder-product__message{
        min-width: 180px;
        height: 255px;
    }

    .checkmark {
        height: auto;
        width: 100%;
    }

    .total-price p:nth-child(1){
        display: flex;
        flex-wrap: wrap;
        font-size: 14px;
        align-items: baseline;
    }

    .total-price p:nth-child(2){
        font-size: 12px;
    }

    .bundle-builder-product__selected.active:not(.available){
        min-height: unset;
    }

    .bundle-builder-product__selected .card-image picture{
        min-height: 256px;
    }

    .bundle-builder-product__selected .card-head .card-title.h4{
        font-size: 11px;
    }

    .bundle-builder-product__selected .card-footer ajax-cart-product-form x-grid.actions select.productSelect{
        padding: 5px;
    }

    .product .cards .card-meta .card-head x-grid{
        text-align: left;
    }

    .bundle-builder-product__selected .card-head{
        position: absolute;
        top: 11px;
        left: 12px;
        max-width: 138px;
    }

    .bundle-builder-product__selected .card-head x-grid{
        text-align: left;
    }

    .remove-item-button{
        top: 9px;
        right: 10px;
    }
  .bundle-builder__buttons {
    gap: 4px;
  }
      .bundle-builder__widget h1 {
        font-size: 20px;
        flex-basis: 66%;
    }

  .bundle-builder__logic>p {
    color: #707070;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0;
  }
}

@media(max-width: 500px){
    .bundle__atc button{
       font-weight: 400;
        font-size: 12px;
        line-height: 140%;
        padding: 6px 6px 6px !important;
    }
}

@media(max-width: 390px){

}
p.subheading_card{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    padding: 0 0 5px 0;

}