.faq-section {
  padding: 64px 0;
}

.faq-item {
  border-bottom: .5px solid #BCB082;
  padding: 32px 0;
}

.faq-heading {
     margin-bottom: 32px;
    color: #1D1D1B;
    /* font-family: BebasNeueBook; */
    /* font-weight: 400; */
    font-size: 4rem;
    line-height: 100%;
    letter-spacing: 0px;
    margin: 0;
    text-transform: uppercase;
}

.faq-question {
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-question, 
.faq-question * {
 color: #1D1D1B;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    /* font-family: BebasNeueBook; */
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
    font-family: var(--font-heading-family);
    position : relative;
}

.faq-answer {
  display: none;
  margin-top: 0;
  padding: 0 25px;
}

.faq-answer ,
.faq-answer * {
  color: #1D1D1B;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0;
}
.faq-question span:before {
  content : attr(index);
  position: absolute;
    left: 3px;

}
.faq-toggle {
  font-size: 20px;
}

.faq-question span:first-child {
  padding-right: 24px;
  padding-left : 24px;
}

.faq-section {

}
.faq-item:first-child {
  padding-top: 0px;
}
.faq-section .flex--wrapper {
    flex-direction: column;
        /* align-items: center; */
    gap: 80px;
}
@media (max-width: 767px) {
 .faq-heading {
  color: #1d1d1b;
    font-size: 3.2rem;
    line-height: 100%;
    letter-spacing: 0px;
    margin: 0;
    text-transform: uppercase;
    margin-bottom: 32px;
 }
}
@media (min-width:750px) {
  .flex--wrapper {
    display: flex;
    gap: 20px;
  }
  .faq_right_part {
        width: 100%;
    max-width: 757px;
  }
}














