.hero-banner {
  position: relative;
}

.hero-banner__media img {
  max-width: 100%;
  width: 100%;
  display: block;
  /* height: calc(100vh - 40px); */
  object-fit: cover;
  /* margin-top: -74px; */
}

.hero-banner__content {
  padding: 108px 20px 15px;
      padding: 70px 20px 15px;
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
}

.hero-banner__heading {
  font-family: "BebasNeueBook", sans-serif ;
  width: 100%;
  margin: 0 auto;
  font-family: BebasNeueBook;
  font-weight: 400;
  font-style: Regular;
  font-size: 116px;

  line-height: 1;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 1rem;
}

.hero-banner__desc {
  max-width: 414px;
  width: 100%;
  margin: 16px auto 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
  color: #f9f0ec;
  margin-top: unset;
}

.hero-banner__bottom-text {
  color: #f9f0ec;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  width: 100%;
  max-width: 100%;
  left: 0;
  right: 0;
  bottom: 15px;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.hero-banner__cta .btn_custom--white {
  font-family: BebasNeueBook, sans-serif !important;
    font-weight: 600 !important;
    font-size: 20px !important;
    line-height: 100% !important;
    letter-spacing: 0 !important;
    text-align: center !important;
    color: #121212 !important;
    background: #BCB082 !important;
    box-shadow: none !important;
    border: 1px solid #BCB082 !important;
    padding: 14px 23px 12px !important;
}

.hero-banner__content {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  padding-bottom: 64px;
}

@media(max-width: 767px) {
  .hero-banner__heading {
    font-size: 96px;
    line-height: 80px;
    max-width: 100%;
  }

  .hero-banner__cta {
    margin-top: 24px;
  }

  .hero-banner__media img {
    /* height: calc(100vh - 30px); */
    /* margin-top: -84px; */
  }

  .hero-banner__content {
    padding-bottom: 39px;
  }
}
