.media-banner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.media-banner__wrapper {
  position: relative;
  width: 100%;
}

.media-banner__wrapper--fullscreen {
  height: 100dvh;
}

.media-banner__wrapper--content {
  height: auto;
}

.media-banner__video,
.media-banner__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.media-banner__video--mobile,
.media-banner__image--mobile {
  display: none;
}

.media-banner__content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  width: fit-content;
}

.media-banner__button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background-color: #121212;
  color: #fff;
  text-decoration: none;
  border-radius: 100px;
  transition: background-color 0.2s ease;
  padding: 1.2rem 4rem;
  font-size: 2.4rem;
  line-height: 1;
}

.media-banner__button:hover {
  background-color: #333;
}

@media screen and (max-width: 768px) {
  .media-banner__video--desktop,
  .media-banner__image--desktop {
    display: none;
  }

  .media-banner__video--mobile,
  .media-banner__image--mobile {
    display: block;
  }

  .media-banner__button {
    padding: 0.8rem 4rem;
    font-size: 1.8rem;
  }
}
